<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>tuongnt.servlet.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>tuongnt.servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>tuongnt.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addServlet</servlet-name>
        <servlet-class>tuongnt.servlet.addServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>tuongnt.servlet.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteServlet</servlet-name>
        <servlet-class>tuongnt.servlet.deleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateServlet</servlet-name>
        <servlet-class>tuongnt.servlet.updateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>tuongnt.servlet.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeServlet</servlet-name>
        <servlet-class>tuongnt.servlet.changeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatchServlet</servlet-name>
        <servlet-class>tuongnt.servlet.DispatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mouseAdminServlet</servlet-name>
        <servlet-class>tuongnt.servlet.mouseAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>headPhoneAdminServlet</servlet-name>
        <servlet-class>tuongnt.servlet.headPhoneAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>keyBoardAdminServlet</servlet-name>
        <servlet-class>tuongnt.servlet.keyBoardAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileUserServlet</servlet-name>
        <servlet-class>tuongnt.servlet.ViewProfileUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAccountServlet</servlet-name>
        <servlet-class>tuongnt.servlet.deleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mouseUserServlet</servlet-name>
        <servlet-class>tuongnt.servlet.mouseUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>headPhoneUserServlet</servlet-name>
        <servlet-class>tuongnt.servlet.headPhoneUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>keyBoardUserServlet</servlet-name>
        <servlet-class>tuongnt.servlet.keyBoardUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserServlet</servlet-name>
        <servlet-class>tuongnt.servlet.SearchUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeUserServlet</servlet-name>
        <servlet-class>tuongnt.servlet.changeUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>tuongnt.servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productDetailServlet</servlet-name>
        <servlet-class>tuongnt.servlet.productDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkoutServlet</servlet-name>
        <servlet-class>tuongnt.servlet.checkoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllProductServlet</servlet-name>
        <servlet-class>tuongnt.servlet.AllProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllProductAdminServlet</servlet-name>
        <servlet-class>tuongnt.servlet.AllProductAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagementOrderServlet</servlet-name>
        <servlet-class>tuongnt.servlet.ManagementOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagementRevenueServlet</servlet-name>
        <servlet-class>tuongnt.servlet.ManagementRevenueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoardServlet</servlet-name>
        <servlet-class>tuongnt.servlet.DashBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreControl</servlet-name>
        <servlet-class>tuongnt.servlet.LoadMoreControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByAjax</servlet-name>
        <servlet-class>tuongnt.servlet.SearchByAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchProductsByPriceServlet</servlet-name>
        <servlet-class>tuongnt.servlet.FetchProductsByPriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchMouseByPriceServlet</servlet-name>
        <servlet-class>tuongnt.servlet.FetchMouseByPriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchKeyBoardByPriceServlet</servlet-name>
        <servlet-class>tuongnt.servlet.FetchKeyBoardByPriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchHeadPhoneByPriceServlet</servlet-name>
        <servlet-class>tuongnt.servlet.FetchHeadPhoneByPriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>tuongnt.servlet.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOTPServlet</servlet-name>
        <servlet-class>tuongnt.servlet.VerifyOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>tuongnt.servlet.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>tuongnt.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeServlet</servlet-name>
        <url-pattern>/change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatchServlet</servlet-name>
        <url-pattern>/DispatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mouseAdminServlet</servlet-name>
        <url-pattern>/mouse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>headPhoneAdminServlet</servlet-name>
        <url-pattern>/headPhone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>keyBoardAdminServlet</servlet-name>
        <url-pattern>/keyBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileUserServlet</servlet-name>
        <url-pattern>/ViewProfileUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAccountServlet</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mouseUserServlet</servlet-name>
        <url-pattern>/mouseUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>headPhoneUserServlet</servlet-name>
        <url-pattern>/headPhoneUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>keyBoardUserServlet</servlet-name>
        <url-pattern>/keyBoardUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserServlet</servlet-name>
        <url-pattern>/SearchUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeUserServlet</servlet-name>
        <url-pattern>/changeUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productDetailServlet</servlet-name>
        <url-pattern>/productDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllProductServlet</servlet-name>
        <url-pattern>/AllProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllProductAdminServlet</servlet-name>
        <url-pattern>/AllProductAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagementOrderServlet</servlet-name>
        <url-pattern>/ManagementOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagementRevenueServlet</servlet-name>
        <url-pattern>/ManagementRevenueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoardServlet</servlet-name>
        <url-pattern>/DashBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreControl</servlet-name>
        <url-pattern>/LoadMoreControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByAjax</servlet-name>
        <url-pattern>/SearchByAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchProductsByPriceServlet</servlet-name>
        <url-pattern>/FetchProductsByPriceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchMouseByPriceServlet</servlet-name>
        <url-pattern>/FetchMouseByPriceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchKeyBoardByPriceServlet</servlet-name>
        <url-pattern>/FetchKeyBoardByPriceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchHeadPhoneByPriceServlet</servlet-name>
        <url-pattern>/FetchHeadPhoneByPriceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOTPServlet</servlet-name>
        <url-pattern>/VerifyOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            DispatchServlet
        </welcome-file>
    </welcome-file-list>
</web-app>
